*{
    margin: 0%;
    padding: 0%;
}
div{
    float: left;
    width: 200px;
    height: 150px;
    background-image: 187px,125px,url(https://baijiahao.baidu.com/s?id=1728689108791727640);
}
.box1{
    background-color: antiquewhite;
}